<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onAddItem()" #f="ngForm">
      <div class="row">
        <div class="col-sm-8 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required />
        </div>
        <div class="col-sm-4 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" name="amount" ngModel required />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <button class="btn btn-success mr-1" type="submit" [disabled]="f.invalid">{{ editMode ? 'Update': 'Add' }}</button>
          <button class="btn btn-primary mr-1" type="button" (click)="onClear(f)" [disabled]="f.untouched && f.pristine">Clear</button>
          <button class="btn btn-danger mr-1" type="button" (click)="onDelete(f)" *ngIf="editMode">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>


